﻿@*Modal archivo*@
<div id="modalArchivo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subir Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Subir listado de archivos</h3>
                <form id="formListado" method="post">
                    <input id="archivoListado" type="file" accept=".csv">
                    <input type="submit" value="Subir" />
                </form>
                <div class="linea"></div>
                <h3>Subir Detalles</h3>
                <form id="formDetalle" method="post">
                    <input id="archivoDetalle" type="file">
                    <input type="submit" value="Subir">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
