﻿@*Modal usuarios*@
<div id="modalUsuarios" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUsuarioTitulo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tipo Usuario</label>
                    <select id="selectTipoUsuario" class="form-control">
                        <option value="0" selected>Seleccione</option>
                        <option value="1">Externo</option>
                        <option value="2">Interno</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Rol</label>
                    <select id="selectRol" class="form-control">
                        <option value="0" selected>Seleccione</option>
                        <option value="1">Administrador</option>
                        <option value="2">Supervisor</option>
                        <option value="3">Coordinador</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" id="nombre" placeholder="Ingrese Nombre">
                </div>
                <div class="form-group">
                    <label>Login</label>
                    <input class="form-control" id="login" placeholder="Ingrese Login">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" id="contrasena" placeholder="Ingrese Contraseña">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="guardarUsuario" type="submit" class="btn btn-primary">Guardar</button>
                <button id="modificarUsuario" type="submit" class="btn btn-primary" hidden>Modificar</button>
            </div>
        </div>
    </div>
</div>
