﻿@model InterCel.Models.UsuarioModel
@{
    ViewBag.Title = "Usuarios";
}
<div class="contenido">
    <div class="pull-right">
        <div class="pull-right">
            <button id="btnModalUsuario" class="btn btn-primary">Nuevo Usuario</button>
        </div>
    </div>
    <h3>Listado de usuarios</h3>
    <br />
    <div id="asignarPartialUsuario">
        @Html.Partial("_LstUsuarios", Model)
    </div>
</div>
@Html.Partial("_modalUsuarios")
@section FooterScripts
{
    <script src="~/Scripts/Usuario/usuario.js"></script>
    <script>
        var usr = new UsuarioController();
        var urls = {
            guardar: '@Url.Action("Guardar", "Usuarios")',
            lista: '@Url.Action("Lista", "Usuarios")',
            modificar: '@Url.Action("Modificar", "Usuarios")',
            eliminar: '@Url.Action("Eliminar", "Usuarios")',
            obtenerUsuario: '@Url.Action("ObtenerUsuario", "Usuarios")'
        }

        $(document).ready(function () {
            $tblLstUsuarios = $('#tblLstUsuarios').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "SIN DATOS DISPONIBLES",
                    "info": "MOSTRANDO _START_ DE _END_ <BR><b>_TOTAL_</b> SOLICITUDES ENCONTRADAS",
                    "infoEmpty": "SIN DATOS",
                    "infoFiltered": "<BR>FILTRADO DE <b>_MAX_</b> SOLICITUDES TOTALES",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "MOSTRAR _MENU_",
                    "loadingRecords": "CARGANDO...",
                    "processing": "PROCESANDO ...",
                    "search": "BÚSQUEDA GENERAL:",
                    "zeroRecords": "BÚSQUEDA SIN DATOS",
                    "paginate": {
                        "first": "PRIMERO",
                        "last": "ÚLTIMO",
                        "next": "SIGUIENTE",
                        "previous": "PREVIO"
                    },
                    "aria": {
                        "sortAscending": ": FILTRAR ASCENDENTE",
                        "sortDescending": ": FILTRAR DESCENDENTE"
                    }
                }
            });
            usr.arranque(urls);
        });
    </script>
}
