﻿@model InterCel.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var error = ViewBag.Error;
}
@using (Html.BeginForm())
{
    <div id="wrapper">
        <div class="loginscreen animated fadeInDown">
            <div class="loginbox">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <form method="POST">
                            <div class="loginHead">
                                <h2 style="text-align: center;">ACCESO</h2>
                            </div>
                            <div class="loginForm">
                                <div class="loginFormContent">
                                    <div class="form-group">
                                        <label class="block" for="Nombre_Usuario">
                                            <span>
                                                <i class="fa fa-user"></i>
                                            </span> Usuario <span class="text-danger font-2x">*</span>
                                        </label>
                                        @Html.TextBoxFor(u => u.Login, new { @class = "form-control input-sm", @maxlength = "50", @placeholder = "Escriba su nombre de usuario" })
                                    </div>
                                    <div class="form-group">
                                        <label class="block"><span><i class="fa fa-lock"></i></span> Contraseña <span class="text-danger font-2x">*</span></label>
                                        @Html.TextBoxFor(u => u.Contrasena, new { @class = "form-control input-sm", @maxlength = "50", @placeholder = "Escriba su contraseña", @type = "password" })
                                    </div>

                                </div>
                                @if (error != "")
                                {
                                    <label style="text-align:center; color:red;">@error</label>
                                }
                            </div>
                            <div class="loginFooter">
                                <div class="form-group" style="text-align: center;">
                                    <button type="submit" class="btn btn-primary btn-rounded" value="0" style="text-align: center;">
                                        <i class="fa fa-sign-in"></i> Iniciar Sesion
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts
{

}

